@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100vw;
    height: 100vh;
}
body{
    
    background-image: url('imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
    
}

section#tela{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('imagens/frame-iphone.png') center center no-repeat;
    background-size: cover;
    width: 311px;
    height: 627px;   
}
section.sociais img{
    width: 50px;
    margin: 1em;
    
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
    box-sizing: border-box;
}
section.sociais img:hover{
    border: 1px solid rgba(255, 255, 255, 0.653);
    transform: translate(-4px, -4px);
    box-shadow: 5px 5px 5px black;
    transition-duration: 0.5s;

}
section.sociais{
   text-align: right;
   
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 470px;
}
@media screen and (max-width: 600px){
    section.sociais{
        display: flex;
        justify-content: center;
        padding-top: 1em;
    }
   
}