@charset "UTF-8";

body{
    background-image: url('imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}